DATABASE_URL="postgresql://neondb_owner:npg_hKTUNd2IOo5L@ep-long-surf-a4k4e252-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require"

NEXTAUTH_SECRET="v8P1QeWbJ3vZpttYZ3xKXNdkb4jzYKsT7MRc2Gt4fq0="
NEXTAUTH_URL="http://localhost:3000"



